@charset "utf-8";

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
.gnb ul::after,ol::after{
    content: '';
    display: block;
    clear: both;
}
body{
    background: url(../img/back2.jpg)
    no-repeat fixed center/cover;
}
li{
    float: left;
}
.gnb{
    background-color: transparent;
}
.gnb>ul{
    width: 800px;
    margin: 0 auto;
}
.gnb>ul>li{
    width: 200px;
    text-align: center;
    outline: 2px dashed lime;
}
.gnb>ul>li a{
    width: 200px;
    height: 50px;
    display: block;

    color: red;
    text-decoration: none;

    line-height: 50px;

    font-weight: bold;
    font-size: 30px;

}

/* 서브메뉴 */
.smenu{
    position: absolute;
    width: 200px;
    background-color: #fff;
    overflow: hidden;
    height: 0;
}
/* 두번째메뉴 */
.gnb>ul>li:nth-child(2):hover .smenu{
    height: 200px;
}
/* 세번째메뉴 */
.gnb>ul>li:nth-child(3):hover .smenu{
    height: 100px;
}
.smenu a:hover{
    color: red;
    background-color: rgba(255, 255, 255, 0);
}
