@charset "utf-8";

/* 마진패딩 */
html,body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,p{
    margin: 0;
    padding: 0;
}
/* a요소 */
a{
    color: white;
    text-decoration: none;
}
/* ul,ol리셋 */
ul,ol{
    list-style: none;
}
/* li플롯 */
li{
    float: left;
}

ul::after,ol::after,.clb::after{
    content: '';
    display: block;
    clear: both;
}