@charset "utf-8";


/* 외부 css 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 메인 공통디자인 */
.bgc{
    background: url(../003.img/pngwing.com.png);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* 보이는 화면기준 */
}
body{
    background-color: #000;
}