@charset "utf-8";


/* 공사중 외곽선 */
body * {
    outline: 1px dashed rgb(99, 99, 99);
}

/* _______________________1.메인공통영역_____________________________ */
.cont{
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #f00;
}
/* _______________________2-1.box1_____________________________ */

/* _______________________2-2.box2_____________________________ */

/* _______________________2-3.box3_____________________________ */


