@charset "utf-8";
/* 코어 CSS - core-css */

/* 웹폰트 */







/* 공통 class */

.ibx{
    min-width: 1300px;
    margin: 0 auto;
    outline: 3px dotted violet;
}




















/* 배경이미지 공통 */
.bgi {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}