@charset "utf-8";
/* 메인 CSS -main.css */

/* 외부 css합치기 */
@import url(common.css);
@import url(core.css);

body{
    height: 1000px;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #cbcbcb);
}