@charset "utf-8";
/* 추가할것 - 로봇피제이에서 애니메이션효과와 캐릭터설명응용 */
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&family=Bebas+Neue&display=swap');

/* 
font-family: 'Azeret Mono', monospace;
font-family: 'Bebas Neue', cursive;
*/

.logo{
    text-align: center;
}
.logo img{
    max-height: 200px;
    padding: 0;
    margin: 0;
    text-align: center;
}
/* 메뉴글씨 */
.gnb>ul>li>a {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 4px 4px 4px #000;
    letter-spacing: 4px;
    color: rgb(236, 17, 17);

    width: 240px;
    height: 40px;
    display: block;

    text-decoration: none;

    line-height: 50px;
    font-size: 40px;
}
/* 서브메뉴글씨 */
.gnb>ul>li>.smenu a {
    font-family: 'Azeret Mono', monospace;
    width: 230px;
    height: 50px;
    display: block;

    color: red;
    text-decoration: none;

    line-height: 50px;

    font-weight: bold;
    font-size: 20px;
}
/* 초기화 */
body,html{
    margin: 0;
    padding: 0;
}
/* 메뉴공통초기화 */
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 스크롤바 */
.scbar::-webkit-scrollbar{
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius: 5px;
}

body {
    background: url(../img/back2.jpg) no-repeat fixed center/cover;
}
/* 메뉴플롯해제 */
.gnb ul::after,
ol::after {
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
}

.gnb {
    background-color: rgba(0, 0, 0, 0.308);
}

.gnb>ul {
    width: 1200px;
    margin: 0 auto;
}

/* 텍스트박스 */
.gnb>ul>li {
    margin: 20px;
    width: 230px;
    text-align: center;
    /* outline: 2px dashed lime; */
}

/* 마우스오버 */
.gnb>ul>li>a:hover {
    border-bottom: 4px solid red;
}

/* 서브메뉴 */
.smenu {
    position: absolute;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.523);
    overflow: hidden;
    height: 0;
    transition: height .4s ease-out;
}

/* 두번째메뉴 */
.gnb>ul>li:nth-child(2):hover .smenu {
    height: 200px;
}

/* 세번째메뉴 */
.gnb>ul>li:nth-child(3):hover .smenu {
    height: 100px;
}

.smenu a:hover {
    color: red;
    background-color: rgba(255, 255, 255, 0);
}


/* _________________________________________________________________________________________ */

/* 메인 */

.cont{
    position: relative;
    min-height: 700px;
    background-color: #fff;
}


/* ____________________________________________________________________________________ */

/* 하단영역 */
.info{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
}
/* 하단링크 */
ul.bm{
    width: 720px;
    max-width: 90%;

    margin: 0 auto; /* 마영오! */
    padding: 0;
    list-style: none;
        /* 3무 */

}
ul.bm::after{ /* 플롯해제 */
    content: '';
    display: block;
    clear: both;
}
ul.bm li{
    float: left;
    padding: 0 5px; /* 글자 사이사이 */
}

ul.bm a{
    color: rgb(255, 255, 255);
    text-decoration: none;/* 밑줄없앰 */
    font: bold 14px/2 "맑은 고딕";
}
ul.bm a:hover{
    color: red;
    text-decoration: underline;/* 밑줄 */
}

/* 주소박스 */
.info address{
    width: 720px;
    max-width: 90%;

    margin: 10px auto; /* 위아래 20px 양쪽오토(중앙) */
    font: normal 12px/2 "맑은 고딕";
    text-align: center;/* 글자중앙 */

    border: 5px double #555;
    padding: 10px 0;/* 위아래 10px 양쪽0 */
}
/* 하단로고박스 */
#blogo{
    text-align: center;/* 인라인요소 중앙정렬 */
}
